extends layout

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3#box
        p.info Enter an unwieldy URL below:
        form(method='post', action='/l')
          input(type='url', name='url', placeholder='http://www.zackmichener.net')
          button(type='submit') Shorten
        p.error
