body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('http://zackmichener.net/bright_squares.png');
  font-family: 'Georgia';
  color: #444;
}

a {
  color: #00B7FF;
}

.container-fluid {
  padding: 0px;
}

.row {
  box-shadow: inset 0px 0px 5px gray;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 177px;
  left: -5%;
  width: 110%;
  margin: auto 0px;
  background: #eee;
  padding: 24px 0px;
}

form {
  text-align: center;
}

input, button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #444;
  font-size: 24px;
  margin: 8px;
  background: #eee;
}

input {
  box-shadow: inset 1px 1px 5px -3px black;
}

button {
  box-shadow: 1px 1px 5px -3px black;
  background: linear-gradient(0deg, #eee, #fff);
}

button:active {
  background: linear-gradient(0deg, #fff, #eee);
  padding: 5px 9px 4px 11px;
}

#box p {
  height: 16px;
  text-align: center;
  margin: 8px 0px;
}

.error {
  color: red;
}

.info {
}

#source {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 4px;
}

#source:before {
  content: 'Source: ';
  color: gray;
}